@model BuckleUp.Models.ViewModels.AssessmentDetailsVM

<h1>@Model.Assessment.Title</h1>

@foreach(var question in Model.Assessment.Questions){
    <h4>@question.QuestionText</h4>
    <div style="margin-left: 20px">
        <h5>@question.Option1</h5>
        <h5>@question.Option2</h5>
        <h5>@question.Option3</h5>
        <h5>@question.Option4</h5>
        
        @{
            string answer = question.GetType().GetProperty(question.CorrectOption).GetValue(question, null).ToString();
        }


        <h5>Correct Answer: @answer</h5>
    </div>
}