@model BuckleUp.Models.ViewModels.AssessmentDetailsVM

<h1>@Model.Assessment.Title</h1>

@if(User.IsInRole("Teacher")){

    
    @if(Model.Assessment.TeacherId.Equals(Model.TeacherId)){
        @foreach(var question in Model.Assessment.Questions){
            <h4>@question.QuestionText</h4>
            <div style="margin-left: 20px; display: none;">
                <h5>@question.Option1</h5>
                <h5>@question.Option2</h5>
                <h5>@question.Option3</h5>
                <h5>@question.Option4</h5>
                
                @{
                    string answer = question.GetType().GetProperty(question.CorrectOption).GetValue(question, null).ToString();
                }


                <h5>Correct Answer: @answer</h5>
            
            </div>   
        }

        
        <h1>Students That Have Taken Assessment</h1>
      
        List<StudentAssessment> studentAssessments = Model.Assessment.StudentAssessments.Where(stdass => stdass.HasTaken).ToList();

        <table class="table">
            <tr>
                <th>Student Name</th>
                <th>Score</th>
            </tr>
            @foreach(var studentAssessment in studentAssessments){
                <tr>
                    <td>@studentAssessment.Student.FirstName @studentAssessment.Student.LastName</td>
                    <td>@studentAssessment.score</td>
                </tr>
        }
        </table>
        
        
        

        <h1>Students That Have Not Assessment</h1>      
    }
}

else if(User.IsInRole("Student")){

    StudentAssessment studentAssessment = Model.Assessment.StudentAssessments.FirstOrDefault(stdass => stdass.StudentId.Equals(Model.StudentId));

    bool studentIsRegisteredForAssessment = studentAssessment != null;
    
    if(studentIsRegisteredForAssessment && (!studentAssessment.HasTaken)){
        <a asp-controller="Assessment" 
            asp-action="TakeAssessment" 
            asp-route-id="@Model.Assessment.Id">
            <button class="btn btn-primary">Take Assessment</button>
        </a>

    }
    
    else if(studentIsRegisteredForAssessment && studentAssessment.HasTaken){
        <button class="btn btn-light" disabled>Assessment Taken</button>
        <h3>You have taken this assessment. </h3>
        <h4>You scored @studentAssessment.score / @Model.Assessment.Questions.Count()</h4>
    }
}

