@model BuckleUp.Models.ViewModels.AssessmentResultVM

@{
    Layout ="_SimpleLayout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/assessmentresult.css" />
}

<div class="container">


@if (Context.Request.Cookies["AssessmentId"] != null)
{
    <h1> @Context.Request.Cookies["Score"] </h1>
    for (int i = 0; i < Model.Questions.Length; i++)
    {
        <h1>
            @Model.Questions[i].QuestionText

            @if (@Model.Questions[i].CorrectOption.Equals(Model.Answers[i]))
            {
                <i class=" fa fa-check" style="color: green;"></i>
            }
            else
            { 
                <i class=" fa fa-times" style="color: red;"></i>
            }
        </h1>


        <div
            class="assessmentresultoption 
                @(Model.Questions[i].CorrectOption.Equals("Option1") ? "assessmentresultcorrectanswer" : "" )
                 @(!(Model.Questions[i].CorrectOption.Equals("Option1")) && (Model.Answers[i].Equals("Option1")) ? "assessmentresultwronganswer" : "" )">
            <span>@Model.Questions[i].Option1</span>
        </div> 
        <div
            class="assessmentresultoption 
                @(Model.Questions[i].CorrectOption.Equals("Option2") ? "assessmentresultcorrectanswer" : "" )
                 @(!(Model.Questions[i].CorrectOption.Equals("Option2")) && (Model.Answers[i].Equals("Option2")) ? "assessmentresultwronganswer" : "" )">
            <span>@Model.Questions[i].Option2</span>
        </div>
        <div
            class="assessmentresultoption 
                @(Model.Questions[i].CorrectOption.Equals("Option3") ? "assessmentresultcorrectanswer" : "" )
                 @(!(Model.Questions[i].CorrectOption.Equals("Option3")) && (Model.Answers[i].Equals("Option3")) ? "assessmentresultwronganswer" : "" )">
            <span>@Model.Questions[i].Option3</span>
        </div>
        <div
            class="assessmentresultoption 
                @(Model.Questions[i].CorrectOption.Equals("Option4") ? "assessmentresultcorrectanswer" : "" )
                 @(!(Model.Questions[i].CorrectOption.Equals("Option4")) && (Model.Answers[i].Equals("Option4")) ? "assessmentresultwronganswer" : "" )">
            <span>@Model.Questions[i].Option4</span>
        </div>
    }

}

</div>
