@model BuckleUp.Models.Entities.Teacher

<h1>Teacher DashBoard</h1>

<a asp-controller="Auth" asp-action="Logout">Logout</a>

<h3>Logged in as @Model.FirstName  @Model.LastName</h3>

<br/>
  <h1>Students</h1>
@if(Model.TeacherStudents.Count() == 0){
    <h4>You do not have any student</h4>
}

else{
  
    @foreach(var item in Model.TeacherStudents){

        <h3> @item.Student.FirstName @item.Student.LastName</h3>
    
    }
}

<a class="btn btn-primary" asp-action="AddStudent"> Add Student</a>
<a class="btn btn-danger" asp-action="RemoveStudent"> Remove Student</a>


<br/>
<br/>
<br/>
 <h1>Courses</h1>
@if(Model.Courses.Count() == 0){
    <h4>You do not have any course</h4>
}

else{
   
    @foreach(var item in Model.Courses){
        <a asp-controller="Course" asp-action="Details" asp-route-id="@item.Id">
            <h3> @item.Title</h3>
        </a>
    }
}

<a class="btn btn-primary" asp-action="AddCourse"> Add Course</a>

<br/>
<br/>
<br/>

<h1>Assessments</h1>

@if(Model.Assessments.Count() == 0){
    <h4>You do not have any assessment</h4>
}

else{
  
    @foreach(var item in Model.Assessments){
        <a asp-controller="Assessment" asp-action="Details" asp-route-id="@item.Id">
            <h3> @item.Title</h3>
        </a>

    
    }
}

<a class="btn btn-primary" asp-controller="Assessment" asp-action="Create"> Add Assessment</a>
<a class="btn btn-danger" asp-controller="Assessment" asp-action="Delete"> Remove Assessment</a>
