@using Microsoft.AspNetCore.Http
@model BuckleUp.Models.ViewModels.QuizRoomVM


@if(Model.IsQuizCreator){
    <h1>Welcome</h1>
    <br/>
    <h1>Players:</h1>
    <ul class="quizRoomPlayerList">
        @foreach (var player in Model.Players)
        {
            <li>@player.Player.Name</li>
        }
    </ul>
    <a asp-action="Start" asp-route-id=@Model.Quiz.Link>
        <button class="btn btn-primary">Start Quiz</button>
    </a>
}
else{

    if(Model.Quiz.status.Equals("unplayed")){
        <h3>You're playing as - @Model.PlayerUsername </h3>
        <br/>
        <h1>Other Players:</h1>
        <ul class="quizRoomPlayerList">
            @foreach (var player in Model.Players)
            {
                if (!player.Player.Name.Equals(Model.PlayerUsername))
                {
                    <li>@player.Player.Name</li>
                }
            }
        </ul>

        <br/><br/>

        <p><i>Waiting for Quiz Creator To start </i></p>
        <p><i>Please refresh every minute if you dont observe any activity on this page .</i></p>
    }
    
    else if(Model.Quiz.status.Equals("playing")){

        if(Model.PlayerHasPlayed){
            <h1>Welcome Back @Model.PlayerUsername</h1>
            <h1>You have taken this quiz</h1>
            <h1>You scored @Model.PlayerScore</h1>
        }
        else{
             @section scriptss{
                <script>
                    (()=> {
                        let gamelink = location.pathname.split("/")[3];
                        let newLocation = `${location.origin}\\quiz\\play\\${gamelink}`;
                        location.href = newLocation;
                        //console.log(newLocation);
                    })();
                </script>
            }
        }  
    }
    else if(Model.Quiz.status.Equals("played")){
        <h1>They have play this one o</h1>
    }
    
}

@section scripts{
     <script src="~/js/quizhubhandler.js" asp-append-version="true"></script>
}





